

.button{
  float:none;
  margin-top: 20px;
  background-color: #5462F7;
  color: white;
}

.outer {
    display: table;
    position: absolute;
    margin:0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-color:#D9D9D9;
    border-radius: 2px;
    border-width: 1px;
    padding: 40px 30px 20px 30px;
    width: 250px/*whatever width you want*/;
}

label{
    font-family: Helvetica;

    color: black;
}
    

#id_email{
    float : none;
}

#id_password{
    float: none;
}

body{
    background-color: #FAFAFA;
}

.outer1 {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 180px;
}

.middle1 {
    display: table-cell;
    vertical-align: middle;
}

.inner1 {
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-color:#D9D9D9;
    border-radius: 2px;
    border-width: 1px;
    padding: 20px 20px 20px 20px;
    width: 250px/*whatever width you want*/;
}



