<!DOCTYPE html>
<html>
<head>
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            
        </head>
         <body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="/">Home</a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav>  

{% if movie_id %}
<form action="/edit_movie/update_id={{ movie_id }}" method="post">
{% else %}
<form action="/edit_movie/" method="post">
{% endif %}
	{% csrf_token %}
	<table>
	    {{ movie_form.as_table }}
	</table>
	<input type="submit" name="action" value="Submit Movie" />
	<br />
	<input type="submit" name="action" value="Add Genre" />
	{{ genre_form }}
	<br />
	<input type="submit" name="action" value="Add Tag" />
	{{ tag_form }}
</form> 

</body>
</html>
