<!DOCTYPE html>

<html>
        <head>

<style> #header {
        z-index: 1;
        position: fixed;
        width: 100%;
        margin-top: -20px;
        height: 60px;
        background-color: #636363;
        margin-bottom:10px;
}


h1{
        font-family: Helvetica;
        color: #ffffff;
}

body{
        background: url(http://imgur.com/MHeFovF.jpg); <!- replace with whatever ->
        background-repeat: no-repeat;
        background-size: 100%;
}

</style></head>
        <body>
                <div id="header">
                        <h1>
                                CS 405 Project
                        </h1>

                        <button type="button" class="left-buttons"> Login </button>
                        <button type="button"class="left-buttons"> Register </button>
                </div>
                <div id ="meat"></div>

        </body>

</html>
