{% load staticfiles %}
  <html>
        <head>
            <!-- LINK TO BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        </head>
         <body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="#about">About</a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_manager %}
                                <li ><a href="/manager_page"><span class="glyphicon glyphicon-pencil"></span> Manager Options </a></li>
                            {% endif %}}
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav>
                <div class="jumbotron">
                    <h1  class="display-3">Movies 405</h1>
                    <p class= "lead">A simple movie database.</p>
                </div>
                
                <div id="about" class="abt-container">
                    <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" >
                        <h2>About</h2>   
                         <p>This website implements a django powered movie database. Registering for this website allows you to:
                         <ul>
                            <li>Search for movies based on <em>genre</em>, <em>title</em>, <em>movie crew</em> </li>
                            <li>Add tags to movies</li>
                            <li>Add reviews to movies</li>
                            <li>Rate movies. Let us know what movies are your favorite!</li>
                         </ul>
                         If you are lucky enough to be a manager, you will be able to add, delete, and modify the movies we have on record!
                         </p>
                    </div>
                </div>
                </div>
                <div id="contribute" class="creat-container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2" >
                    
                         <p></p>
                         </div>
                    </div>
                </div>
 
         </body>
 
  </html>
