<html>
<head>
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            
        </head>
         <body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="#about">About</a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav> 
                
        <ul>
            <li><a href="/edit_movie">Add Movie</a></li>
            <li><a href="/modify_movie">Edit Existing Movie</a></li>
            <li><a href="/edit_crew">Add Movie Crew</a></li>
            <li><a href="/modify_crew">Edit Existing Movie Crews</a></li>
            <li><a href="/promote">Manage User Privileges</a></li>
        </ul>
</body>
</html>