<html>
<head>
<title>Movie Information</title>
            <!-- LINK TO BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            
        </head>
         <body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="/">Home</a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            {% if is_manager %}
                                <li ><a href="/modify_movie" target="_blank"><span class="glyphicon glyphicon-pencil"></span> Edit Movies </a></li>
                                <li ><a href="/modify_crew" target="_blank"><span class="glyphicon glyphicon-pencil"></span> Edit Crews </a></li>
                            {% endif %}}
                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav>
    <h2>{{movie.title}} ({{movie.release_date}})</h2>
    <h3> GENRES: {% for g in genre %}
                    {{g.g_name}},  
                {% endfor %} 
	<br>
	TAGS: {% for t in tags %}
			{{ t.t_name }}, 
		{% endfor%} 
	<br>
	CREW: {% for c in crew %}
			{{ c.crew_first_name }} {{ c.crew_last_name}} - {{ c.role }}, 
		{% endfor %}
	<br> 
	LANGUAGE: {{movie.language}}
	<p>DESCRIPTION: {{movie.description}}</p>
	<br>
	REVIEW: {% for r in reviews %}
			User: {{ r.user}}
			<br>
			Rating: {{ r.rating }}
			<br>
			Comment: {{ r.description }}
			<br>
			<br>
		{% endfor %}
	</h3>
					
	<form action="/add_review/" method="post" />
		{% csrf_token %}

    <p>Leave A Review: {{ review_form.movie.as_hidden }}
    {{ review_form.user.as_hidden }}
     {{ review_form.description }}
     {{ review_form.rating }} </p>
     
     <input type="submit" class="btn btn-block button" value="Leave Review" />
    </form>

</body>
</html>
