<html>
<head>
<title>Movie Information</title>
            <!-- LINK TO BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            
        </head>
         <body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="/">Home</a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            {% if is_manager %}
                                <li ><a href="/modify_movie/update_id={{ movie.id }}"><span class="glyphicon glyphicon-pencil"></span> Edit Movie </a></li>
                                <li ><a href="/modify_crew"><span class="glyphicon glyphicon-pencil"></span> Edit Crew </a></li>
                            {% endif %}}
                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav>
    <h2>TITLE: {{movie.title}} ({{movie.release_date}})</h2>
    <h3> GENRES: {% for g in genre %}
                    {{g.g_name}},  
                {% endfor %} 
	<br>
	TAGS: {% for t in tags %}
			{{ t.t_name }}, 
		{% endfor%} 
	<br>
	CREW: {% for c in crew %}
			{{ c.crew_first_name }} {{ c.crew_last_name}} - {{ c.role }}, 
		{% endfor %}
	<br> 
	LANGUAGE: {{movie.language}}
	<br>
	REVIEW: {% for r in reviews %}
			Comment: {{ r.description }}
			<br>
			Rating: {{ r.rating }}
			<br>
		{% endfor %}
	</h3>
    <p>DESCRIPTION: {{movie.description}}</p>

</body>
</html>
