<html>
<head>
        <title>Search</title>
</head>
<body>
        {% if errors %}
                <ul style = "color: red;">
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        {% endif %}
        <form action="/search/" method="get">	
		<strong>Select genre(s): </strong>
		<br>
		{% for genre in genres %}
			<input type="checkbox" name='g_id' value={{genre.id}}> {{genre.g_name}}<br>
		{% endfor %}
                <br>
                Tag Search:
                <input type="text" name="tag_q">
                <br>
		Crew Search:
		<input type="text" name="crew_q">
		<br>
		Title Search:
		<input type="text" name="title_q">
		<br>
		<input type="submit" name="Search">	
		<br>
        </form>
</body>
</html>
